/* 
    hex codes 
#e3d7d1 lightest
#ddcdc0 light
#b59377 medium
#69543c dark
#746c5b darkest

font-family: 'Fredericka the Great', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Londrina Sketch', cursive;
*/

body {
    background-color: #69543c;
}

h1{
    font-family:'Londrina Sketch', cursive;
    text-align: center;
    border: solid 2px #746c5b;                                 
    background-color:#b59377;
    color: #e3d7d1;
    font-size: 100px;
    padding: -5px -5px -5px -5px;
    margin: 20px 20px 50px 20px;
}

nav{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    text-align: center;
    background-color: #69543c;
    padding: 20px 5px 20px 5px;
    margin: 20px 20px 50px 20px;
    justify-content: center;
}

nav > ul> li{
    border: solid #746c5b 5px;
    border-radius: 40px;
    justify-content: center;
    display: inline;
    margin:20px;
    padding: 10px;
    background-color: #ddcdc0;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 40px;
}

P{
    background-color: #e3d7d1;
    font-family: 'Heebo', sans-serif;
    font-size: x-large;
}

script{
    justify-content: center;
}